[alias]
    ff = "!f() { git log --pretty=oneline | fzf -n 2.. | awk '{print $1\"^\"}' | xargs -o git rebase -i; }; f"
[alias]
    autofixup = "!f() { COMMIT=$(git log --pretty=oneline | fzf | awk '{print $1}'); git commit --fixup $COMMIT; GIT_SEQUENCE_EDITOR=: git rebase --autostash --autosquash -i $COMMIT^; }; f"
[user]
	name = Delphine Bugner
	email = delphine.bugner@gmail.com

    
[push]
	autoSetupRemote = true
